body{margin:0; padding:0; font:12px helvetica ,arial,"Microsoft YaHei", \5b8b\4f53;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p,figure{margin:0;padding:0;}
table ,td,tr,th{font-size: 12px;}
ol,ul{list-style:none;}
a,u{text-decoration: none;}
li{list-style-type: none;}
img{vertical-align: top;border:0; max-width: 100%;height: auto;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: normal;}
address,cite,code,em,th,i,var{font-weight: normal;font-style: normal;}
.clearfix{*zoom:1;}
.clearfix:after{content:""; display: block; height: 0;clear:both; overflow: hidden;}
a:link,a:visited{
    color:#000;
    text-decoration: none;}
a:hover{
    color:blue;
}
html{
    font-size: 16.67vw;
   /* font-size:14vw;*/
}
body{
    overflow: auto;

}

.topWrap{
    height: 0.28rem;
    border-bottom: 1px solid #ddd;
   /* background: #f5f5f5;*/
    position:relative;;
}
.top{
    width:12rem;
    margin:0 auto;
    /*background: green;*/
}
.topLeft>p{
    float:left;
    padding:0 0.05rem;
    line-height:0.28rem;
}
.topLeft .leftTop1 a{
    background:url("../img/home.png") no-repeat;
    background-position: 0 0.08rem;
    display: inline-block;
    height: 0.28rem;
    text-indent: 0.16rem;
}
.topLeft .send{
    line-height: 0.28rem;
    padding-left:0.05rem;
    float: left;
}
.cities{
    margin-left:0.04rem;
    line-height: 0.28rem;
    float:left;
    position: relative;
    width:auto;
    padding: 0 20px 0 5px;
}
.topLeft b{
    width:0.15rem;
    height:0.15rem;
   background:url("../img/icon.png")0 -0.31rem no-repeat;
   position:absolute;
    top:0.09rem;
    right:0.05rem;
    float: left;
    display: block;
}
.topLeft .leftTop4 a{
   background:url("../img/bg.png") -0.09rem -4.16rem no-repeat;
    height:0.28rem;
    text-indent: 0.19rem;
    line-height: 0.28rem;
    display:inline-block;

}
.topLeft .leftTop5 a{
    height:0.28rem;
    line-height: 0.28rem;
    display:inline-block;

}
.topLeft .leftTop5 a span{
    color: #F60;
}
.topRight{
    float: right;
    height:0.28rem;


}
.topRight>li{
    float:left;
    padding:0 0.05rem;
    line-height:0.28rem;
}
.topRight>li:nth-of-type(4){
    display: block;
    width:auto;
    position:relative;
}
.topRight li:nth-of-type(3) i{
    background:url("../img/bg.png") -2.84rem -0.44rem;
    width:0.14rem;
    height:0.14rem;
    display: inline-block;
    margin-top: 6px;
    margin-right: 5px;
    float: left;
}
.topRight li:nth-of-type(3) a{
    line-height:0.25rem;
}
.topRight li:nth-of-type(4) i{
    background:url("../img/bg.png") -3.08rem -0.44rem;
    width:0.13rem;
    height:0.13rem;
    float: left;
    display: inline-block;
    margin-top: 6px;
    margin-right: 5px;
}
.topRight li:nth-of-type(4) p{
    float: left;
    position: relative;
}
.topRight li:nth-of-type(4) p b{
    width:0;
    height:0;
    border:transparent solid 0.04rem;
    border-top:0.04rem solid #717171;
    position: absolute;
    top:0.11rem;
    left:0.47rem;

}
.topRight li:nth-of-type(5) i{
    background:url("../img/bg.png") -3.47rem -0.46rem;
    width:0.13rem;
    height:0.13rem;
    float: left;
    display: inline-block;
    margin-top: 7px;
    margin-left: 15px;
}
.topRight li:nth-of-type(5) p{
    float: left;
    position: relative;
    margin-left:0.04rem;
}

.topRight li:nth-of-type(5) p span{

}
.topRight li:nth-of-type(5) p b{
    width:0;
    height:0;
    border:transparent solid 0.04rem;
    border-top:0.04rem solid #717171;
    position: absolute;
    top:0.11rem;
    left:0.27rem;

}
.topRight li:nth-of-type(6) i{
    background:url("../img/bg.png") -3.29rem -0.45rem;
    width:0.13rem;
    height:0.13rem;
    float: left;
    display: inline-block;
    margin-top: 7px;
    margin-left: 15px;
}
.topRight li:nth-of-type(7){
    padding-left:0;
}
.topRight li:nth-of-type(7) a{
    color:red;

}
.place-hide{
    margin-top:-0.02rem;
    position:absolute;
    border: 0.01rem solid #ddd;
    width:4rem;
    display: none;
    top:0.3rem;
    left:0.06rem;
    background: #fff;
    z-index:1002;
}

.place-header{
   /* height:0.25rem;*/
    margin-left:0.05rem;
    margin-right: 0.05rem;


    overflow: hidden;


}
.province{

    width:0.58rem;
    height:0.22rem;
    border:0.01rem solid  #ddd;
    border-bottom:none;
    float: left;
    margin-top:0.1rem;
    text-align: center;
    line-height:0.22rem;
}
.selected{


    width:0.58rem;
    height:0.22rem;
    border:0.01rem solid  #ddd;
    border-bottom:none;
    float: left;
    margin-top:0.1rem;
    background: #f5f5f5;
    text-align: center;
    line-height:0.22rem;
}
.firstHr{
    width:0.02rem;
    display: inline-block;
    float:left;
    border:none;
    height:0.01rem;

}
hr{
   margin-top:0.32rem;
    background: #ddd;
    height:0.01rem;
    border:none;
}
.place-content ul{
    display: block;
}
.place-content >li{

    margin-left:0.05rem;
    display: block;
    overflow: hidden;
}
.place-content >li>ul>li{
    float:left;
    margin-left:0.25rem;
    text-align: center;
    line-height:0.18rem;
    color:#666;
    margin-top:0.05rem;
    margin-bottom:0.05rem;
    padding:0rem 0.05rem;
}
.place-content >li>ul>li:hover{
    background:#ff4411;
    color:#fff
}
.place-content .beijing{
    background:#ff4411;
    color:#fff;
}
.place-content >li>ul>li:nth-of-type(1):hover{
    background:#FFF;
}
.place-content >li>ul>li:nth-of-type(1){
    margin-left:0.05rem;


}
.place-content >li>ul>li:nth-of-type(1) span{

    border-right:0.01rem solid #ddd;
    height:0.14rem;
    vertical-align: center;
    padding-right:0.05rem;
    color:#666;

}
.myEPet{
    list-style: circle;
    display: block;
    width:0.85rem;
    height:1.0rem;
    top:0.29rem;
    position:absolute;
    list-style-position:inside;
    -webkit-box-shadow: 0.03rem 0.01rem 0.05rem #666;
    -moz-box-shadow:  0.03rem 0.01rem 0.05rem #666;
    box-shadow: 0.03rem 0.01rem 0.05rem #666;
    display: none;
    z-index: 1002;
    background: #fff;
}
.myEPet li{
    list-style-type: disc;
   /* display: block;*/
    line-height:0.18rem;
    padding:0;
   /* padding-left:0.06rem;*/
    list-style-position:inside;
}
.myBookMark{
    list-style: circle;
    display: block;
    width:0.85rem;
    height:0.2rem;
    top:0.29rem;
    position:absolute;
    list-style-position:inside;
    -webkit-box-shadow: 0.03rem 0.01rem 0.05rem #666;
    -moz-box-shadow:  0.03rem 0.01rem 0.05rem #666;
    box-shadow: 0.03rem 0.01rem 0.05rem #666;
    display: none;
    z-index: 1002;
    background:#fff;
}
.myBookMark li{
    list-style-type: disc;
    /* display: block;*/
    line-height:0.18rem;
    padding:0;
    /* padding-left:0.06rem;*/
    list-style-position:inside;
}
.topRight .mobile{
    /*overflow: hidden;*/
   /* padding-right: 0;*/
    width:0.7rem;
    position: relative;
}
.mobile img{
    display: block;
    width:0.8rem;
    /*height:0.56rem;*/
    display: none;
    margin-left:0.06rem;
    position: absolute;
    z-index:900;

    top:0.29rem;

}
.headerWrap{
    height: 5rem;
}
.header{
    height:1rem;
    padding-top:0.1rem;
    position: relative;
   /* background:blueviolet;*/
}
.headerMain{
    margin:0 auto;
    width:12rem;
    position: relative;
    overflow: hidden;
}
.headerMain{
   /* background: yellow;*/
}
.headerMain .logo a{
    background:url("../img/cat-logo.png") no-repeat 0 -0.12rem;
    display: block;
    height:0.94rem;
    width:2.86rem;
    display: inline-block;
    float: left;
}
.headerMain form{
    float:left;
    margin:0.23rem 0 0 0.33rem;
}
.headerMain .searchBox{
    width:3.82rem;
    height:0.3rem;
    line-height:0.3rem;
    padding:0 0.05rem 0 0.15rem;
    border:#e74085 solid 2px;
}
.headerMain .submit{
    border: 0;
    width: 0.73rem;
    height: 0.34rem;
    vertical-align: top;
    cursor: pointer;
    background-color: #e74085;
    color: #FFF;
    font-size: 14px;
    padding:0;
    margin:0;
}
.headerMain .searchArea{
    font-size:0;

}
.keyWord lable{
    float:left;
}
.keyWord{
    margin: 0.1rem 0;
    width: 4.98rem;
    height: 0.17rem;
    overflow: hidden;
}
.keyWord a{
    display: inline-block;
    float: left;
    color: #999;
}
.keyWord a:hover{
    color:blue;
}
.keyWord a:first-of-type{
    color:red;
}
.keyWord a span{
    color: #999;
    margin: 0 0.1rem;
}
.shoppingCart {
    background: url("../img/shopping-cart1.gif") no-repeat;
    margin: 0.23rem 0 0;
    width: 1.3rem;
    height: 0.39rem;
    text-align: center;
    text-indent: 2em;
    float: right;
    position: relative;
}
.shoppingCart a{
    text-align: center;
    line-height:0.39rem;
}
.shoppingCart a em{
    color:red;
}
.navWrap{
    padding-top:0.05rem;
    /*background:blue;*/
    display: block;
    overflow: hidden;
    height:4rem;
}
.nav{
    margin :0 auto;
    width:12rem;
    overflow: hidden;

}
.nav .leftBoxWrap{
    width:2.28rem;
    float:left;

    z-index: 1001
}
.nav .leftBox {
    height: 34px;
    line-height: 32px;
    color: #FFF;
    font-size: 16px;
    text-align: center;
    float: left;
    background: green;
}
.nav .leftBox a{
    float: left;
    width: 1.12rem;
    height: 0.32rem;
    text-align: center;
    border: 0.01rem solid  #e1e1e1;
    color: #666;
    cursor: pointer;

}
.nav .leftBox a b{
    display: inline-block;
    vertical-align: middle;
    margin-top: -0.02rem;
    background: url(../img/bg2.png);
    margin-left: 0.05rem;
    width: 0.16rem;
    height:0.13rem;
    background-position:0rem -12.28rem;
}
.nav .leftBox a:hover{
    background:#e74085 ;
    border:none;
    color:#fff;
    width: 1.14rem;
    height: 0.34rem;
}
.nav .leftBox a:hover b{
    transform:rotate(360deg);
    transition:all 0.16s;
}
.nav .leftBox a:nth-of-type(2) b{
    background-position:0rem -12.42rem;
}
.nav .rightbox{
    height:0.34rem;
    overflow: hidden;
}
.nav .rightbox li{
    float:left;
    position: relative;

}
.nav .rightbox li a{
    font-size:0.16rem;
    float: left;
    display: inline;
    line-height: 0.34rem;
    color: #000;
    font-weight: 700;
    padding: 0 0.2rem;
    text-decoration: none;
    outline: 0;
    height:0.34rem;
}
.nav .rightbox li a b{
    background: url("../img/bg2.png") -0.35rem -12.68rem no-repeat;
    width:0.18rem;
    height:0.2rem;
    display: inline-block;
    margin-top:-0.02rem;
    vertical-align: middle;
}
.nav .rightbox li a:hover{
    color:#e74085;
}
.nav .rightbox li a:hover b{
    transform:rotate(360deg) ;
    transition:all 0.16s;
}
.nav  .asideRigtWrapWrap{
    display: block;
    clear: both;
}
.nav .asideRightWrap{
   /*position: absolute;*/
    width: 2.28rem;
    top: 0.34rem;
    left: 0;
    border-top: 0.02rem solid #FFF;
    background:red;
   /* overflow: hidden;*/
}
.nav .asideRight{

   /* position: absolute;*/
    background: #ff3399;
    height:3.58rem;
    display: none;
    top:0;
    left:0;
}
.nav .asideRight dl dd{
    height:1.19rem;
}
.nav .asideRight dl dd:nth-of-type(1) a span{
    background:url("../img/new_petcate.png");

    width: 0.60rem;
    height: 0.6rem;
    margin-top: 0.27rem;
}
.nav .asideRight dl dd:nth-of-type(1) span{
    display: inline-block;
    width: 1.1rem;
    height: 0.6rem;
    margin-left: 0.08rem;
    margin-top: 0.27rem;
   vertical-align: top;

}
.nav .asideRight dl dd:nth-of-type(1) span p{
line-height: 0.24rem;
padding-bottom: 0.04rem;
color: #333;
    text-align: center;

    line-height:0.24rem;
}
.nav .asideRight dl dd:nth-of-type(1) span p b{
color:red;
}

.nav .asideRight dl dd:nth-of-type(1) span a{
    display: inline-block;
    width: 1.08rem;
    height: 0.28rem;
    line-height: 0.3rem;
    text-align: center;
    border: 1px solid #459d36;
    color: #459d36;
    border-radius: 0.03rem;
}
.nav .asideRight dl dd:nth-of-type(1) span a:hover{
    background:#459d36;
    color:#fff;
}
/*
猫站*/
.nav .asideRight dl dd:nth-of-type(2){
    background-color: #f5f5f5;
}
.nav .asideRight dl dd:nth-of-type(2) a span{
    background:url("../img/new_petcate.png") 0 -0.58rem;
    display: inline-block;
    width: 0.60rem;
    height: 0.6rem;
    margin-top: 0.27rem;
}
.nav .asideRight dl dd:nth-of-type(2) span{
    display: inline-block;
    width: 110px;
    height: 60px;
    margin-left: 8px;
    margin-top: 27px;
    vertical-align: top;
}
.nav .asideRight dl dd:nth-of-type(2) span p{
    line-height: 24px;
    padding-bottom: 4px;
    color: #333;
    text-align: center;
}
.nav .asideRight dl dd:nth-of-type(2) span p b{
    color:red;
}

.nav .asideRight dl dd:nth-of-type(2) span a{
    display: inline-block;
    width: 1.08rem;
    height: 0.28rem;
    line-height: 0.3rem;
    text-align: center;
    border: 1px solid #459d36;
    color: #459d36;
    border-radius: 0.03rem;
}
.nav .asideRight dl dd:nth-of-type(2) span a:hover{
    background:#459d36;
    color:#fff;
}
/*水族站*/
.nav .asideRight dl dd:nth-of-type(3){

}
.nav .asideRight dl dd:nth-of-type(3) a span{
    background:url("../img/new_petcate.png") 0 -1.16rem;
    display: inline-block;
    width: 0.60rem;
    height: 0.6rem;
    margin-top: 0.27rem;
}
.nav .asideRight dl dd:nth-of-type(3) span{
    display: inline-block;
    width: 110px;
    height: 60px;
    margin-left: 8px;
    margin-top: 27px;
    vertical-align: top;
}
.nav .asideRight dl dd:nth-of-type(3) span p{
    line-height: 24px;
    padding-bottom: 4px;
    color: #333;
    text-align: center;
}
.nav .asideRight dl dd:nth-of-type(3) span p b{
    color:red;
}

.nav .asideRight dl dd:nth-of-type(3) span a{
    display: inline-block;
    width: 1.08rem;
    height: 0.28rem;
    line-height: 0.3rem;
    text-align: center;
    border: 1px solid #459d36;
    color: #459d36;
    border-radius: 0.03rem;
}
.nav .asideRight dl dd:nth-of-type(3) span a:hover{
    background:#459d36;
    color:#fff;
}
.nav .category{
    height:3.58rem;
    position: absolute;
    display: block;
    z-index:1000;
    background:#fff;
}
.nav .category>ul{
    /*overflow: hidden;*/
    height:3.5rem;

background:#fff;

}
.nav .category>ul>li{
   /* background:rebeccapurple;*/
    height:0.5rem ;
    width:2.28rem;
    background:url("../img/menuLine1.png") 50% bottom no-repeat;
    display:block;
    /*float: left;*/
   /* text-align: -webkit-match-parent;*/
   /* position:relative;
    top:0;
    left:0;*/
   /* overflow: hidden;*/
}
.nav .category ul li h3{
    height:0.5rem;
    line-height:0.5rem;
    background-position: right -1206px;
    background-repeat: no-repeat;
    padding-left: 0.16rem;
    font-weight: 400;
    background-color: #fcfcfc;
    background-image: url(../img/bg2.png);
    display: block;
    overflow: hidden;
}
.nav .category ul li h3 a{
    font-size: 0.14rem;
    display: inline-block;
    width: 0.88rem;
    overflow: hidden;
    height: 0.5rem;
}
.nav .category ul li h3 a:nth-of-type(2){
    margin-left:0.15rem;
}
.nav .category ul li h3 i{
    display: inline-block;
    color: #999;
    width: 0.4rem;
    margin-left: 0.04rem;
}
.nav .category p{
    height: 0.52rem;
    line-height: 0.52rem;
    background: #fff;
   /* color: #22990d;*/
    text-indent: 0.2rem;
    font-size: 0.14rem;
    background: #fff;
    color: #e74085;
    display: inline-block;
}
.nav .category p img{
    vertical-align: middle;
    margin-top: -0.03rem;
    margin-right: 0.05rem;
    border:0;
}
.nav .category p i{
    height: 0.24rem;
    padding: 0 0.09rem;
    border-radius: 0.08rem;
   /* background: red;*/
    color: #fff;
    margin-left: 0.1rem;
}
.nav .category ul li:hover{
    class:hover;
}
.nav .rightSide{
    float:right;

}
.nav .rightSide a{
    width:1.9rem;
    height:1.19rem;
    display: block;
    padding-left:0.1rem;
}
.nav .rightSide a:hover {

    padding-left:0;
    width:2rem;
    transition: all 1s;
}
.content1Wrap{
    margin:0 auto;
    width:12rem;

}
.content1 {
    margin-top:0.3rem;
    overflow: hidden;
}
.content1 .leftPic{
    width: 3.28rem;
    height: 4.6rem;
    background: url(../img/everydayBgNew2.png) no-repeat;
    background-size: 100% 100%;
    float: left;
}
.content1 .rightBox{
    width:8.7rem;
    height:4.58rem;
    border:0.01rem solid  #e7e7e7   ;
  /*  display: inline-block;*/
    float: left;
}
.content1 .leftPic .clock{
    margin:2rem 0 0 1.09rem;
    background: url(../img/clock.png) left center no-repeat;
    background-size:0.24rem 0.24rem;
    padding-left:0.26rem;
    display: inline-block;
    font-size:0.3rem;
    color:#fff;
    font-weight: 700;
}
.content1 .leftPic>span{
    display: inline-block;
    height: 0.23rem;
    width: 0.63rem;
    background: url(../img/jxz.png) center no-repeat;
    background-size: 100%;
    float: right;
    margin: 1.8rem 0.5rem 0 0;
}
.content1 .leftPic .comment{
    width: 2.8rem;
    height: 0.32rem;
    line-height: 0.32rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top:1.7rem;
    margin-left:0.25rem;
}
.content1 .leftPic .comment p{
    display: inline-block;
    float: left;
    margin-top: 0.035rem;
    width: 0.25rem;
    height: 0.25rem;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 0.05rem;
}
.content1 .leftPic .comment p img{
    vertical-align: top;
    border: 0;
    max-width: 100%;
    height: auto;
}
